.field {
    width: 17.5rem;
    height: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    padding: 1rem;
    border: solid 0.15rem #00345E;
    color: #00345E;
    border-radius: 0.5rem;
    position: relative;
    transition: 0.2s;
}

.field:focus-within {
    border: solid 0.15rem #0091A5;
    color: #0091A5;
}

.audio-label {
    font-size: 10pt;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    text-align: center;
}

.microphone-button {
    background-image: url('./../../../public/assets/microphone-off.svg');
}

.microphone-button:hover {
    background-image: url('./../../../public/assets/microphone-on.svg');
}

.stop-button {
    background-image: url('./../../../public/assets/stop-icon-off.svg');
}

.stop-button:hover {
    background-image: url('./../../../public/assets/stop-icon-on.svg');
}

.play-button {
    background-image: url('./../../../public/assets/play-icon-off.svg');
}

.play-button:hover {
    background-image: url('./../../../public/assets/play-icon-on.svg');
}

.close-button {
    background-image: url('./../../../public/assets/close-icon-off.svg');
}

.close-button:hover {
    background-image: url('./../../../public/assets/close-icon-on.svg');
}

.icon-button {
    outline: none;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    transition: 0.25s;
    background-color: white;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: -0.5rem;
    margin-left: 0.5rem;
    transition: 0.2s;
}

.small-button {
    background-size: contain;
    height: 1.2rem !important;
    width: 1.2rem !important;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.label-container {
    font-size: 10pt;
    font-weight: 600;
    position: absolute;
    width: fit-content;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    top: -0.9rem;
    background-color: white;
}

.input {
    font-family: 'Poppins', sans-serif;
    display: block;
    margin: 0 auto;
    width: 100%;
    border: none;
    font-size: 10pt;
}

.disabled {
    display: none !important;
}

.input:focus {
    outline: 0;
}