
:root {
    font-family: 'Poppins', sans-serif;
    --azul:#00345E;
    --azul-on:#0091A5;
    --red-bad:#A50028;
}

body {
    margin: 0;
    display: flex;
    overflow: hidden;
    height: 100dvh;
    width: 100dvw;
}

.container_placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.placeholder_bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
