.floating-window-audio {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .container-audio-chat {
    overflow-y: auto;
    padding: 1rem;
    flex-grow: 1;
    font-size: 10pt;
  }