.button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  bottom: 0;
  right: 0;
  outline: none;
  border: none;
  border-radius: 1rem;
  background: var(--azul);
  transition: ease-in-out 200ms;
  z-index: 1;
  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  background: var(--azul-on);
}

.bt-icon {
  width: 2rem;
  height: 2rem;
}

.bt-expand {
  position: fixed !important;
  bottom: 0 !important;
  right: 0 !important;
  z-index: 1;
  width: 25rem !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  margin-right: 1rem !important;
  height: 94vh !important;
}

.bt-shrink {
  transition-delay: 350ms !important;
}

.bt-expand:hover {
  background: #00345E !important;
}
@media (max-width: 425px) {
  .bt-expand{
    margin: auto!important;
    margin-bottom: 1rem !important;
    width: 95%!important;
  }
}