.button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  bottom: 0;
  right: 0;
  outline: none;
  border: none;
  border-radius: 1rem;
  background: #00345E;
  transition: ease-in-out 200ms;
  z-index: 1;
  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  background: #0091A5;
}

.bt-icon {
  width: 2rem;
  height: 2rem;
}

.bt-expand {
  height: 96dvh;
  width: 26rem;
  margin-bottom: 0.5rem;
}

.bt-shrink {
  transition-delay: 350ms !important;
}

.bt-expand:hover {
  background: #00345E !important;
}