#bg-button{
    background-color: #00345E;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6pt;
    transition: 0.2s;
    padding: 0.5rem;
}
#bg-button:hover{
    background-color: #0091A5;
}