#bg-button{
    background-color: var(--azul);
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6pt;
    transition: 0.2s;
    padding: 0.5rem;
}
#bg-button:hover{
    background-color: var(--azul-on);
}